.page-details-container{

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
/*Section1*/
.section1-gallery-page-details{
  display: flex;
  justify-content: center;
  align-items: center;
width: 100vw;
padding: 20px;
}
/*Section2*/
.section2-title-page-details{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 80vw;
}
.title-page-details{
  display: flex;
  flex-direction: column;
  justify-content: flex-start
}
.title-page-details h1{
padding: 5px;

}
/*Section3*/
.section3-description-page-details{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 80vw;
}
/*Section4*/
.section4-about-page-details{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 80vw;
}
.info-page-details h3{
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.info-page-details p{
  padding: 5px;
}


/*Section5*/
.section5-included-page-details{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 80vw;
}
.included-page-details{
  display: flex;
flex-direction: column;
padding: 5px;

}
.included-page-details ul{
  padding: 5px;
  list-style-type: none;
}


/*** Image Gallery **/
.image-gallery-description{
    display: none;
}
.image-gallery-icon.image-gallery-play-button{
display: none;
}
.image-gallery-image{
  min-width: 50vw;
  height: 45vh;
  overflow: hidden;
  border-radius: 8px;
  
}
.image-gallery-thumbnail-image{
  border-radius: 10px;
  height: 60px;
}
.image-gallery.image-gallery-using-mouse{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



/** section7 **/

.section7-price-page-details{
  height: 500px;
  display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
padding: 20px;
}
.container-price{
  max-height: 30vh;
  border-top: 10px solid rgb(116, 198, 246, 0.5);
width: 30vw;
 display: flex;
 flex-direction: column;
  font-size: 2rem;
}

.container-price p{
  padding-top: 15px;
  font-size: 0.8rem;
  color: rgb(61, 61, 61);
}
@media screen and (min-width: 761px) and (max-width: 1048px) {
  .container-price{
    
    width: 20vw;
    height: 20vh;
    font-size: 1.5rem;
    padding: 1px;
  }
  
  .container-price p{
    padding-top: 10px;
    font-size: 0.7rem;
    color: rgb(61, 61, 61);
  }
}
@media screen and (max-width: 760px) {
  .container-price {
      font-size: 1.5rem;
      border: none;
width: 35vw;
position: relative;
height: auto;
  }
  .container-price span{
    font-size: 1rem;
    color: rgb(61, 61, 61);
  }
  .container-price p{
    padding-top: 10px;
    font-size: 0.7rem;
    color: rgb(61, 61, 61);
  }
}

/* magic form page details*/

.magic-form {
 display: flex;
 flex-direction: column;
 align-items: center;
}
.magic-form input{
  border-radius: 5px;
  border: 1px solid black;
  margin: 5px;
}
.magic-form button{
  border-radius: 45px;
  border: 1px solid black;
  min-width: 20vw;
  height: 55px;
  padding: 5px;
  margin: 3px;
  background-color: rgb(242, 161, 41) ;
}

.magic-form button:hover {
  background-color: rgb(201, 135, 35);
}
/** Section 6 **/

/* Reviews component*/
.section6-reviews-page-details{
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.container-ReviewPageComponent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviews-container{
  max-width: 70vw;
  height: 300px;
}

.dv-star-rating {
  font-size: 32px !important;
   
}
.image-text-slick-container{
  display: flex;
}
.slick-track{
  display: flex;
  justify-content: center;
  width: 100vw;
}

/* Submit Review Container Page Details*/

.submitReviewContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.submitReviewContainer form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.submitReviewContainer button{
  border-radius: 45px;
  border: 1px solid black;
  min-width: 20vw;
  height: 55px;
  padding: 5px;
  margin: 3px;
}
.submitReviewContainer button:hover{
  background-color: rgb(205, 203, 203);
}
.dv-star-rating-star.dv-star-rating-empty-star:hover i{
  color: orange;
}

