.slick-carousel-tours-mainpage-container {
    width: 85vw;
    
}

.slick-arrow.slick-prev {
    background-color: transparent;
    z-index: 1;
    max-width:30px;
    border-bottom: none;
}
.slick-arrow.slick-prev:hover {
    border-bottom: none;
}

.slick-arrow.slick-next {
    background-color: transparent;
    max-width:30px;
}
.slick-arrow.slick-next:hover {
    border-bottom: none;
}
.slick-arrow.slick-next::before {
    font-size: 30px;
    color: grey;
}

.slick-arrow.slick-prev::before {
    font-size: 30px;
    color: grey;
}
.image-text-slick-container {
   
    overflow: hidden; 
}
.image-text-slick-container2 {
    width: 100%;
    height: 300px;
    overflow: hidden; 
}
.image-text-slick-container2 img {
    width: 100% ;
    height: 100%  ;
    object-fit: cover; 


}
.card{
    max-height: 500px;
}
.card:hover{
    box-shadow: 0px 1px 5px 1px rgb(184, 182, 182);
}
.slick-track{
    width: 80vw;
}