.whatsapp-icon2 {
    
   
   padding: 8px;
    border-radius: 15px;
    border-style: solid;
    border-color: green;
    color: green;
    text-decoration: none;
    transition: background-color 0.3s ease;
    
  }
  .whatsapp-icon2:hover {
    background-color: #0a0c0a; 
    color: white
  }
  @media screen and (max-width: 323px) {
    .whatsapp-icon{
      width: 50px;
    }
  }